{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<h2>User Profile Page</h2>
<br>
<img src="{{user_page.profile.profile_img.url}}" alt="Smiley face" width='200' height='auto'>
<p></p>
<br>
<ul>
    <li><h4>User Name: {{user_page.username}}</h4></li>
    <li><h4>Location: {{user_page.profile.location}}</h4></li>
    <li><h4>Bio: {{user_page.profile.bio}}</h4></li>
    
</ul>
<br>
<a class="btn btn-primary btn-large" href="{% url 'accounts:user_friend_list' user_page.id %}">Friend List</a>
{% if user_page == request.user %}
<a class="btn btn-primary btn-large" href="{% url 'accounts:edit_profile' %}">Edit</a>
{% endif %}

{% if user_page != request.user %}
{% if user_page not in q1 and user_page not in q2 and user_page not in q3 %}
    <a class="btn btn-primary btn-large" 
                 href="{% url 'accounts:send_friend_request' userID=user_page.id %}">
                                                            Send a FriendRequest</a>
{% elif user_page in q3%}
    <a class="btn btn-primary btn-large" 
                    href="{% url 'accounts:cancel_friend_request' userID=user_page.id %}">
                                                            Cancel a FriendRequest</a>
{% else %}
    <a class="btn btn-primary btn-large" 
                    href="{% url 'accounts:unfriend' userID=user_page.id %}">
                                                            Unfriend</a>

{% endif %}{% endif %} <br><br>
{%if user_page == request.user %}
<h4>Pending Friend-Request </h4>

{% for friend_request in all_friend_requests %}

    <li><label for="accept"><h4>{{friend_request.from_user}}:</h4> </label>
        <a class="btn btn-primary btn-large" id="accept" href="{% url 'accounts:accept_friend_request' 
            requestID=friend_request.from_user.id %}">Accept</a><br></li>

{% endfor %}
{% endif %}                                        
{% endblock %}