{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<h2>Mutual friends for User: {{user_page}}</h2>
{% for friends in mutual_friend %}
<ul>
    <li><h3>{{friends}}</h3></li>
</ul>
{% endfor %}

<h2>Friend list for User: {{user_page}}</h2>
{% for friends in friend_list %}
<ul>
    <li><h3>{{friends}}</h3></li>
</ul>
{% endfor %}
<br>
  <form action="{% url 'accounts:distance' %}" method="get">
    <label for="vol"><h2>Try to find friends nearby in (between 0 and 5000km) from you :</h2></label>
    <input type="range" id="vol" value="{{ request.GET.km }}" name="km" min="0" max="5000">
    <input type="submit" value="Submit">
  </form>


{% endblock %}"{% url 'accounts:user_detail' user.id %}"